div {
  box-sizing: border-box;
  margin: 0;
}

a, button {
  cursor: pointer;
  box-sizing: border-box;
}

a {
  outline: none;
  &:after { outline: none; }
}

img {
  vertical-align: top;
}

input, p {
  box-sizing: border-box;
}

body {
  margin: 0;
}
